.App {
  background-color: rgb(37, 6, 68);
  height: 100vh;
  overflow: hidden;
}
.input_conatiner {
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.input_conatiner label {
  margin: 0.5% 0;
  color: rgba(255, 255, 255, 0.842);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-right: 7%;
}
.input_conatiner input {
  padding: 0.4%;
  padding-left: 0.6%;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.233);
  border-radius: 0.3rem;
  background-color: transparent;
  outline: none;
}
.input_conatiner small {
  color: red;
}
.gender {
  margin: 1% 0;
  display: flex;
  flex-direction: column;

  width: 150px;
}
.gender label {
  margin-right: 5%;
}
.gender input[name="gender"] {
  accent-color: rgba(187, 153, 243, 0.986);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.gender input[name="gender"]:checked {
  transform: scale(1.5);
}
.gender_female {
  margin-top: 4%;
}

button {
  width: 100px;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.842);
  border: 2px solid rgba(255, 255, 255, 0.233);
  border-radius: 0.3rem;
  padding: 0.8%;
  cursor: pointer;
  margin-top: 1%;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
button:hover {
  transform: scale(1.1) translateY(-8px);
  color: rgba(172, 128, 243, 0.986);
  border: 2px solid rgba(255, 255, 255, 0.568);
}
.table-container {
  background-color: red;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.table_male {
  background-color: rgb(4, 4, 102);
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgba(255, 255, 255, 0.842);
  border: 2px solid rgba(255, 255, 255, 0.233);
}
.table_female {
  background-color: rgb(4, 4, 102);
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgba(255, 255, 255, 0.842);
  border: 2px solid rgba(255, 255, 255, 0.233);
}
.table-container td{
  padding:  1.5% 0;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  

}
.table-container th{
  padding:  1.5% 0;
  text-align: start;

}
.table{
  padding-left: 2%;
}